#footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#footer__container > div {
    width: 30%;
    padding: 20px;
}

#menu__list span {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}

#menu__list span:hover {
    color: #fff;
}